@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this in your global CSS if using Tailwind with JIT mode */
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  